* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f08a5d;
    color: #393e46;
}

.form__pages {
    display: flex;
    place-items: center;
    height: 100vh;
    width: 100%;
}

.form__pages-background {
    background-color: #FFF;
    padding: 2rem;
    border-radius: 50px;
    margin: 3rem 12rem;
    display: flex;
}

.form__pages-left {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1rem;
    align-items: center;
    place-items: center;
}

.form__pages-top {
    margin-bottom: 2.5rem;
    font-size: 2rem;
}

.form__input-field {
    padding: 0.5rem;
    border: none;
    text-decoration: none;
    margin: 0.5rem 0;
    background-color: transparent;
    color: #39311d;
    width: 100%;
    border-bottom: 2px solid #39311d;
}

.form__button {
    background-color: #141211;
    border: 2px solid #141211;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.8rem auto;
    width: 100%;
}

.form__button:hover {
    background-color: #FFF;
    border: 2px solid #141211;
    color: #141211;
}

.dashboard {
    display: flex;
    flex-direction: column;
    padding: 4rem 16rem;
}

.dashboard h3 {
    font-size: 4rem;
    color: #FFF;
    text-align: center;
    margin-bottom: 2rem;
}

.dashboard__item {
    background-color: #FFF;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dashboard__item-content {
    display: flex;
    align-items: center;
}

.dashboard__item-grade {
    background-color: #e8e8e8;
    color: #686D8B;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: bold;
}

.dashboard__item-name {
    margin-left: 1rem;
}

.dashboard__item-score {

    font-size: 0.8rem; 
    color: #686d76;   
    background-color: #e8e8e8;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-left: 0.5rem;
}

.dashboard__item__button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.dashboard__item-link {
    font-size: 0.75rem;
    padding: 0.5rem 0.75rem;
    text-align: center;
    text-decoration: none;
    margin-left: 0.5rem;
    border-radius: 10px;
    font-weight: bold;
}

.dashboard__add-button {
    background-color: #e8e8e8;
    color: #686D8B;
    width: 8rem;
    margin-bottom: 1rem;
}

.dashboard__add-button:hover {
    background-color: #686D8B;
    color: #e8e8e8;
}

.dashboard__edit-button{
    background-color: #f5b461;
    color: #FFF;
    width: 4rem;
}



.dashboard__edit-button:hover{
    background-color: #f3eac2;
    color: #222831;
}

.dashboard__delete-button{
    background-color: #ec524b;
    color: #FFF;
    width: 4rem;
}

.dashboard__delete-button:hover{
    background-color: #ffd5cd;
    color: #222831;
}