* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.form {
    color: #1A1C20;
    background-color: #FE8262;
    margin: 4rem 12rem;
    border-radius: 50px;
}

.form__nilai {
    display: flex;
    background-color: #FFF;
    padding: 2rem;
}

.form__nilai-left {
    background-color: #FFFFFF;
    padding: 5px;
    display: flex;
    padding: 2rem;
    border-radius: 1rem;
    align-items: center;
}

.form__nilai-top {
    font-family: "Poppins";
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
}

.form__input-field {
    padding: 0.8rem;
    border: none;
    text-decoration: none;
    margin: 0.8rem 0;
    background-color: transparent;
    color: #39311d;
    width: 100%;
    border-bottom: 2px solid #39311d;
}

.form__button {
    background-color: #141211; /* Green */
    border: 2px solid #141211;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.8rem auto;
    width: 100%;
}

.form__button:hover {
    background-color: #FFF; /* Green */
    color: #141211; 
    border: 2px solid #141211;
}

.form__nilai-img {
    align-items: center;    
    width: 90%;
    float: right;
    background-color: #FFF;     
}

.form__result {
    margin-top: 1rem;
}

.form__result-warning {
    background-color: #f5b461;
    padding: 0.5rem;
    border-radius: 10px;
}

.form__result-warning > h1 {
    font-size: 1.2rem;
    text-align: center;
}